<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="icon" href=""/>
    </head>

    <body>

        <header>
            <img src=""/>
            <h1>Newsy</h1>
            <h2>The news analyzer</h2>
        </header>

        <main>
            <section>
                <form id="form" class="">
                    <label for="input">Paste the URL to the website</label>
                    <input id="url" name="input" value="" placeholder="URL">
                    <p>OR</p>
                    <label for="input">Paste plain text</label>
                    <textarea id="txt" name="input2" value="" placeholder="Plain text"></textarea>
                    <input type="submit" name="" value="Get article sentiment">
                </form>
            </section>

            <section>
                <div id="results">
                    <h1>Sentiment analysis results</h1>
                    <h2>Agreement</h2>
                    <p></p>
                    <h2>Subjectivity</h2>
                    <p></p>
                    <h2>Irony</h2>
                    <p></p>
                    <h2>Confidence</h2>
                    <p></p>
                </div>
            </section>

        </main>

        <footer>
            <p>Udacity Front End Development Nanodegree</p>
            <p>Project 4 - Webpack, Sass, Service Workers, Jest</p>
            <p>&copy; Ilie Bogdan-Mihai</p>
        </footer>

    </body>
</html>
