@import "variables";
@import "mixins";

header {
    @include centerFlex;
    flex-direction: column;
    color: $text-light;
    
    img {
        width: 200px;
    }
    
    h1 {
        font-size: 2em;
        font-weight: bold;
        color: $text-accent;
    }

    h2 {
        font-size: 1em;
        font-style: italic;
        margin: 10px 0;
    }
}
