@import "variables";
@import "mixins";

#results {
    @include section;
    display: none;
    color: $text-accent;

    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        margin-top: 20px;
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        color: $accent2;
        font-style: italic;
    }
}